<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Caracas, Venezuela - Circuitos y Parroquias</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <div class="main" role="main">
        <header>
            <a href="index.html"><h1>Gabinete 5</h1></a>
        </header>

        <div class="container">
            <div class="containerMenu">
                <div class="containerMenuSecundario">
                    <a href="#" class="menu-item" data-popup="circuitos">Parroquias</a>
                    <div class="sub-menu" id="circuitos-submenu">
                        <a href="#" class="sub-item">Sucre</a>
                        <a href="#" class="sub-item">El Junquito</a>
                        <a href="#" class="sub-item">La Pastora</a>
                    </div>
                    <a href="#" class="menu-item" data-popup="comunas">Comúnas</a>
                    <div class="sub-menu" id="comunas-submenu">
                        <a href="#" class="sub-item">Parroquia 1</a>
                        <a href="#" class="sub-item">Parroquia 2</a>
                        <a href="#" class="sub-item">Parroquia 3</a>
                        <a href="#" class="sub-item">Parroquia 4</a>
                    </div>
                </div>

                <div class="containerInfo">
                    <div>
                        <h1>Parroquias = 3</h1>
                    </div>

                    <div>
                        <h1>Comúnas = 299</h1>
                    </div>
                </div>
            </div>
            
            <div class="containerMap">
                <h1>CIRCUITO 1</h1>
                <div class="map" aria-label="Mapa interactivo de Caracas con circuitos y parroquias">
                <img src="IMG/CIRCUITO 1.png" alt="" srcset="">
            </div>
            </div>
        </div>
    </div>
    <script src="scripts/index.js"></script>
</body>
</html>