<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa de Caracas, Venezuela - Circuitos y Parroquias</title>
    <link rel="stylesheet" href="styles/index.css">
</head>
<body>
    <div class="main" role="main">
        <header>
            <a href="index.html"><h1>Gabinete 5</h1></a>
        </header>

        <div class="container">
            <div class="containerMenu">
                <div class="containerMenuSecundario">
                    <a href="#" class="menu-item" id="circuitos-submenu" data-popup="circuitos">Parroquias</a>
                    <div class="sub-menu">
                        <a href="circuito1.html" class="sub-item">Circuito 1</a>
                        <a href="#" class="sub-item">Sucre</a>
                        <a href="#" class="sub-item">El Junquito</a>
                        <a href="#" class="sub-item">La Pastora</a>
                        <a href="#" class="sub-item">Circuito 5</a>
                    </div>
                    <a href="#" class="menu-item" data-popup="comunas">Comúnas</a>
                    <div class="sub-menu">
                        <a href="#" class="sub-item">Parroquia 1</a>
                        <a href="#" class="sub-item">Parroquia 2</a>
                        <a href="#" class="sub-item">Parroquia 3</a>
                        <a href="#" class="sub-item">Parroquia 4</a>
                        <a href="#" class="sub-item">Parroquia 5</a>
                        <a href="#" class="sub-item">Parroquia 6</a>
                        <a href="#" class="sub-item">Parroquia 7</a>
                        <a href="#" class="sub-item">Parroquia 8</a>
                        <a href="#" class="sub-item">Parroquia 9</a>
                        <a href="#" class="sub-item">Parroquia 10</a>
                        <a href="#" class="sub-item">Parroquia 11</a>
                        <a href="#" class="sub-item">Parroquia 12</a>
                        <a href="#" class="sub-item">Parroquia 13</a>
                        <a href="#" class="sub-item">Parroquia 14</a>
                        <a href="#" class="sub-item">Parroquia 15</a>
                        <a href="#" class="sub-item">Parroquia 16</a>
                        <a href="#" class="sub-item">Parroquia 17</a>
                        <a href="#" class="sub-item">Parroquia 18</a>
                        <a href="#" class="sub-item">Parroquia 19</a>
                        <a href="#" class="sub-item">Parroquia 20</a>
                        <a href="#" class="sub-item">Parroquia 21</a>
                        <a href="#" class="sub-item">Parroquia 22</a>
                    </div>
                </div>

                <div class="containerInfo">
                    <div>
                        <h1>Parroquias = 3</h1>
                    </div>

                    <div>
                        <h1>Comúnas = 299</h1>
                    </div>
                </div>
            </div>
            
            <div class="containerMap">
                <h1>CIRCUITO 2</h1>
                <div class="map" aria-label="Mapa interactivo de Caracas con circuitos y parroquias">
                <img src="IMG/CIRCUITO 2.png" alt="" srcset="">
            </div>
            </div>
        </div>
    </div>
    <script src="scripts/index1.js"></script>
</body>
</html>